<%# link_to ANCHOR_TEXT, ANCHOR_URL %>
<h2><%= @list.name %></h2>

<div>
  <%= link_to "Go back to list overview", lists_path %>
  <%= link_to 'Add a movie', new_list_bookmark_path(@list) %>
  <%= link_to "Delete list",
                    list_path(@list),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>
</div>

<div>
  <% @list.movies.each do |movie| %>
    <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
  <li><%= movie.title  %></li>
  <li><%= movie.overview  %></li>
  <li><%= movie.poster_url %></li>
  <li><%= movie.rating %></li>
  <% end %>
