<%# link_to ANCHOR_TEXT, ANCHOR_URL %>
<h1><%= @list.name %></h1>

<div>
  <% @list.movies.each do |movie| %>
    <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
  <li><%= movie.title  %></li>
  <li><%= movie.overview  %></li>

  <li class="movie-img rounded-top"><%= image_tag movie.poster_url, style: 'height:150px;width:100px;'%></li>

  <li><%= movie.rating %></li>
  <li>###<%= bookmark.comment %></li>
  <% end %>
</div>

<div>
  <%= link_to "Go back to list overview", lists_path %>
  <%= link_to 'Add a movie', new_list_bookmark_path(@list) %>
  <%= link_to "Delete list",
                    list_path(@list),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>
</div>

