<h2>Add a movie to your <%= @list.name %> list</h2>

<p>Here where it says "Comment" is where you add the comment for the bookmark</p>
<%= simple_form_for [ @list, @bookmark ] do |f| %>
  <%= f.input :comment, placeholder: 'Add your comment for this movie' %>
  <%= f.association :movie, prompt: 'Select a movie' %>
  <%= f.submit "Submit movie", class: "btn btn-primary" %>
<% end %>
