<h2>Here are the movies/bookmarks for this list:</h2>
<ul>
<% @list.bookmarks.each do |bookmark| %>
  <li><%= bookmark.comment %></li>
<% end %>
</ul>

<%= link_to 'add a new movie', new_list_bookmark_path(@list) %>

<%= simple_form_for [ @list, @bookmark ] do |f| %>
  <%= f.input :comment %>
  <%= f.submit "Submit movie", class: "btn btn-primary" %>
<% end %>




<div>
  <ul>
    <% @list.movies.each do |movie| %>
      <li><%= movie.title %></li>
      <li><%= movie.overview %></li>
      <li><%= movie.poster_url %></li>
      <li><%= movie.rating%></li>
    <% end %>
  </ul>
</div>
